annotated-types==0.7.0
asgiref==3.11.0
Django==6.0.1
Faker==40.1.2
flake8==7.3.0
lance-namespace==0.4.5
lance-namespace-urllib3-client==0.4.5
librt==0.7.8
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.1
packaging==26.0
pathspec==1.0.3
pillow==12.1.0
pyarrow==23.0.0
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
pylance==1.0.3
python-dateutil==2.9.0.post0
setuptools==80.10.1
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.46.3
